@import "tailwindcss";

* {
  box-sizing: border-box;
}

/* Only support dark mode at the moment */

:root {
  --background: 0 0% 4%;
  --foreground: 0 0% 90%;
  --foreground-muted: 0 0% 50%;
  --foreground-xmuted: 0 0% 25%;
  --surface: 0 0% 7%;
  --surface-muted: 0 0% 10%;
  --accent: 41 96% 49%;
  --accent-muted: 41 100% 23%;
  --graygreen: 144 9% 76%;
  --lightgraygreen: 78 27% 91%;
  --spacing: 1px;
  scrollbar-width: 0;
  scrollbar-color: transparent transparent;
  -webkit-scrollbar: none;
}

/* @media (prefers-color-scheme: light) {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 9%;
    --foreground-muted: 0 0% 5%;
    --foreground-xmuted: 0 0% 2.5%;
    --surface: 0 0% 97%;
    --surface-muted: 0 0% 94%;
  }
} */

@theme inline {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-foreground-muted: hsl(var(--foreground-muted));
  --color-foreground-xmuted: hsl(var(--foreground-xmuted));
  --color-accent: hsl(var(--accent));
  --color-accent-muted: hsl(var(--accent-muted));
  --color-surface: hsl(var(--surface));
  --color-surface-muted: hsl(var(--surface-muted));
  --color-graygreen: hsl(var(--graygreen));
  --color-lightgraygreen: hsl(var(--lightgraygreen));
  --font-brand: var(--plaster);
  --font-sans: var(--inter);
}

body {
  background: hsl(var(--background));
  color: hsl(var(--foreground));
  font-family: var(--font-sans);
  min-height: 100dvh;
}

 
/*:focus {
  outline: 1px hsl(var(--accent)) solid;
  outline-offset: 2px;
} */

/*summary::marker {
  content: " +";
  transform: scale(2);
}*/