@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent: #f4a805;
  --accent-muted: #765100;
  --graygreen: #bcc9c1;
  --lightgraygreen: #eaeee1;
  --spacing: 1px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-accent-muted: var(--accent-muted);
  --font-sans: var(--inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  min-height: 100dvh;
}

input {
  width: auto;
}

/*summary::marker {
  content: " +";
  transform: scale(2);
}*/