@import "tailwindcss";

:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 9%;
  --foreground-muted: 0 0% 5%;
  --foreground-xmuted: 0 0% 2.5%;
  --accent: 41 96% 49%;
  --accent-muted: 41 100% 23%;
  --surface: 0 0% 97%;
  --surface-muted: 0 0% 94%;
  --graygreen: 144 9% 76%;
  --lightgraygreen: 78 27% 91%;
  --spacing: 1px;
  scrollbar-width: 0;
  scrollbar-color: transparent transparent;
  -webkit-scrollbar: none;
}

@theme inline {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-foreground-muted: hsl(var(--foreground-muted));
  --color-foreground-xmuted: hsl(var(--foreground-xmuted));
  --color-accent: hsl(var(--accent));
  --color-accent-muted: hsl(var(--accent-muted));
  --color-surface: hsl(var(--surface));
  --color-surface-muted: hsl(var(--surface-muted));
  --color-graygreen: hsl(var(--graygreen));
  --color-lightgraygreen: hsl(var(--lightgraygreen));
  --font-sans: var(--inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 0 0% 4%;
    --foreground: 0 0% 90%;
    --foreground-muted: 0 0% 50%;
    --foreground-xmuted: 0 0% 25%;
    --surface: 0 0% 7%;
    --surface-muted: 0 0% 10%;
  }
}

body {
  background: hsl(var(--background));
  color: hsl(var(--foreground));
  font-family: var(--font-sans);
  min-height: 100dvh;
}

input {
  width: auto;
}

/*summary::marker {
  content: " +";
  transform: scale(2);
}*/